In [11]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
df=pd.read_csv('Train_Data.csv')
df.head()

,employee_id,department,region,education,gender,recruitment_channel,no_of_trainings,age,previous_year_rating,length_of_service,KPIs_met >80%,awards_won?,avg_training_score,is_promoted
0,1264,Finance,region_7,Bachelor's,m,other,1,31,3.0,3,0,0,62,0
1,18375,Finance,region_7,Bachelor's,m,other,1,31,5.0,7,1,0,62,0
2,34167,Operations,region_2,Bachelor's,m,other,1,53,3.0,22,0,0,67,0
3,14280,Technology,region_29,Bachelor's,m,other,1,27,2.0,2,1,0,81,0
4,24219,Sales & Marketing,region_26,Bachelor's,m,other,1,44,3.0,6,1,0,57,0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32884 entries, 0 to 32883
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   employee_id           32884 non-null  int64
 1   department            32884 non-null  object
 2   region                32884 non-null  object
 3   education             31455 non-null  object
 4   gender                32884 non-null  object
 5   recruitment_channel   32884 non-null  object
 6   no_of_trainings       32884 non-null  int64
 7   age                   32884 non-null  int64
 8   previous_year_rating  30417 non-null  float64
 9   length_of_service     32884 non-null  int64
 10  KPIs_met >80%         32884 non-null  int64
 11  awards_won?           32884 non-null  int64
 12  avg_training_score    32884 non-null  int64
 13  is_promoted           32884 non-null  int64
dtypes: float64(1), int64(8), object(5)
memory usage: 3.5+ MB

In [14]:
df.isnull().sum()

employee_id                0
department                 0
region                     0
education               1429
gender                     0
recruitment_channel        0
no_of_trainings            0
age                        0
previous_year_rating    2467
length_of_service          0
KPIs_met >80%              0
awards_won?                0
avg_training_score         0
is_promoted                0
dtype: int64

education and previous year ratings have null values

As education is a categorical variable thus we can impute mode to fill null values

In [15]:
df.education.mode(0)

0    Bachelor's
Name: education, dtype: object

In [16]:
df.education.fillna("Bachelor's",inplace=True)

<ipython-input-16-708589a0d5c6>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.education.fillna("Bachelor's",inplace=True)

In [17]:
df.groupby('department')['previous_year_rating'].mean()

department
Analytics            3.575635
Finance              3.502907
HR                   3.494208
Legal                3.451737
Operations           3.630611
Procurement          3.297032
R&D                  3.550984
Sales & Marketing    3.059895
Technology           3.181584
Name: previous_year_rating, dtype: float64

In [18]:
df.groupby('awards_won?')['previous_year_rating'].mean()

awards_won?
0    3.324821
1    3.620737
Name: previous_year_rating, dtype: float64

In [19]:
mean_ratings = df.groupby('awards_won?')['previous_year_rating'].mean()
mean_ratings=round(mean_ratings,0)
df['previous_year_rating'] = df.apply(lambda row: mean_ratings[row['awards_won?']] if pd.isnull(row['previous_year_rating']) else row['previous_year_rating'], axis=1)

In [20]:
df.to_csv('cleaned_dataset.csv',index=False)